.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1c2833;
  padding: 0.1rem 2rem;
  width: 100%;
  box-sizing: border-box;
}

.navbar-logo h1 {
  color: #f8f9f9;
  font-size: 1.5rem;
  margin: 0;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar-links li {
  display: inline-block;
}

.navbar-links a {
  text-decoration: none;
  color: #f8f9f9;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #5dade2;
}

.navbar-links .signout-button {
  background-color: transparent;
  border: none;
  color: #f8f9f9;
  font-size: 1rem;
  transition: color 0.3s ease;
}


